* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.product {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  column-gap: 30px;
  position: relative;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.product:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.product span {
  font-size: 14px;
  opacity: 0.6;
}

.product-icon {
  width: 40px;
  height: 40px;
}

.product-name{
  width: 65%;
}

.product-specification{
  width: 35%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -20px;
  color: #aaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 30px 1px grey;
  transition: 0.3s all ease 0s;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.remove-icon {
  transition: 0.3s all ease 0s;
  position: relative;
  z-index: 10;
  cursor:pointer;
}

.remove-icon:hover {
  transform: scale(1.1);
}

.product-circle{
  width: 15px;
  height: 10px;
  border-radius:50%;
  background-color: rgb(17, 17, 17);
  border:none;
  outline:none;
}

.free{
  background-color: #55a45e;
}
.product-status {
  width: 10%;
}

.hidden{
  display: none;
}